.container
  width 1135px
  @media (max-width 1135px)
    width 100%

.white-btn
  padding 20px 70px
  background white
  color main
  border-radius 34px
  font-size 16px
  font-weight 700

.section-title
  color main
  font-size 50px
  font-weight 300