.header
  top 100px
  .nav
    position: relative
    overflow hidden
  ul
    font-size 20px
    text-transform uppercase
    li
      padding 10px 20px
      a
        color #004c7f
        display flex
        &:hover
          text-decoration none

  .menu-list
    margin-right -1000px
    transition all 0.5s ease-in-out
    padding: 10px;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

  .button
    position absolute
    top 0
    right 0
    transition all 0.3s ease-in-out
    z-index 99
  .nav-btn:hover .menu-list
    opacity 1
    margin 0
    //background rgba(0, 125, 213, 0.55)
  .nav-btn:hover .button
    opacity 0
  .gamburger:before
    content " "
    background url("../img/gambuger.svg") no-repeat
    width 25px
    height 19px
    display flex
    margin 14px 10px 0 0
    padding 10px