@import url("https://fonts.googleapis.com/css?family=Lato:400,300,700,900");

@require reset
@require header
@require mixins
@require variables
@require default-classes

.welcome
  background url("../img/background.jpg")
  background-size cover
  position relative
  overflow hidden
  &:before
    content ""
    width 93%
    height 100%
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,1) 7%, rgba(255,255,255,0.85) 33%, rgba(255,255,255,0.65) 34%, rgba(255,255,255,0.65) 63%, rgba(255,255,255,0.39) 64%, rgba(255,255,255,0.4) 92%, rgba(255,255,255,0) 93%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,1) 7%,rgba(255,255,255,0.85) 33%,rgba(255,255,255,0.65) 34%,rgba(255,255,255,0.65) 63%,rgba(255,255,255,0.39) 64%,rgba(255,255,255,0.4) 92%,rgba(255,255,255,0) 93%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,1) 7%,rgba(255,255,255,0.85) 33%,rgba(255,255,255,0.65) 34%,rgba(255,255,255,0.65) 63%,rgba(255,255,255,0.39) 64%,rgba(255,255,255,0.4) 92%,rgba(255,255,255,0) 93%);
    opacity 0.1
    position absolute
    top 0
    left -18%
    transform skew(42deg)
    z-index 1
  .content
    flex-col()
    padding 16% 0 0 0
    text-align center
    position relative
    z-index 999
  .img
    background white
    border-radius 50%
    width 147px
    height 147px
    align-self center
    box-shadow(0 0 0 10px rgba(255, 255, 255, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.1))
    img
      width 100%
      border-radius(50%)
  .jumbotron
    flex-col()
    color white
    text-transform uppercase
    background transparent
    h1
      padding 30px 0 0 0
      font-size 50px
      font-weight 900
    p
      padding 20px
      font-size 16px
      font-weight 300
  .arrow
    padding 20px
    &:before
      content ""
      background url("../img/arrow.svg") no-repeat center
      height 32px
      width 19px
      margin auto
      display block

.about-me-content
  padding 5% 0 9% 0
  p
    padding 5% 0 0 0

.expert-in
  background #f1f8ff
  .container
    padding 7% 0

.expert-list
  margin 5% 0 0 0
  li
    padding 4% 0
    margin 0 1%
    flex-basis 31%
    justify-content center
  span
    width 40%
    margin 0 0 17% 0
    border-radius 50%
    border 1px solid #b7c0c9
  h3
    margin 0 0 7% 0
    color main
    font-size 24px
    font-weight 700
    text-transform uppercase

  .mobile-app:before,
  .web-design:before,
  .web-dev:before,
  .product-design:before,
  .ux-ui:before,
  .ux-ui:before,
  .animations:before
    content " "
    display flex

  .mobile-app:before
    background url("../img/mobile-apps.svg") no-repeat
    width 45px
    height 66px
    margin 25% auto
  .web-design:before
    background url("../img/web-design.svg") no-repeat
    width 72px
    height 58px
    margin 28% auto
  .web-dev:before
    background url("../img/web-dev.svg") no-repeat
    width 58px
    height 66px
    margin 25% auto
  .product-design:before
    background url("../img/product-design.svg") no-repeat
    width 71px
    height 67px
    margin 25% auto
  .ux-ui:before
    background url("../img/ux-ui.svg") no-repeat
    width 63px
    height 63px
    margin 26% auto
  .ux-ui:before
    background url("../img/ux-ui.svg") no-repeat
    width 63px
    height 63px
    margin 25% auto
  .animations:before
    background url("../img/animations.svg") no-repeat
    width 78px
    height 65px
    margin 26% auto

.latest-works
  text-align center
  .container
    padding 7% 0
    .works-list
      margin 9% 0 0 0
      li
        padding 1% 10px
    .thumbnail
      background #f4f4f4
      border 1px solid #f4f4f4
      border-radius(10px)
      height 20em
      overflow hidden
      img
        padding 40px 0 0 0

.clients
  background #f1f8ff
  .container
    padding 6% 0
  .clients-list
    align-items center
    margin 6% 0 0 0
  .microsoft:before
    content " "
    background url("../img/microsoft.svg") no-repeat
    display flex
    width 192px
    height 41px
  .samsung:before
    content " "
    background url("../img/samsung.svg") no-repeat
    display flex
    width 185px
    height 28px
  .ibm:before
    content " "
    background url("../img/ibm_logo.svg") no-repeat
    display flex
    width 140px
    height 52px
  .google:before
    content " "
    background url("../img/google.svg") no-repeat
    display flex
    width 170px
    height 56px



