flex-col()
  display flex
  flex-direction column

transition(effect)
  -webkit-transition effect
  -moz-transition effect
  -o-transition effect
  transition effect

placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}

box-shadow(effect, effect2)
  -moz-box-shadow effect, effect2
  -webkit-box-shadow effect, effect2
  box-shadow effect, effect2

border-radius(effect)
  -moz-border-radius effect
  -webkit-border-radius effect
  border-radius effect

transform(effect)
  -webkit-transform effect
  -ms-transform effect
  -o-transform effect
  transform  effect

background-gradient(velue)
  background: -moz-linear-gradient
  background: -webkit-linear-gradient